body{
  background-color: #b5b8bc;
  text-align: center;
  background-color: #88e072;
}


div{
  border: 2px solid #5d5c61;
  margin: 5px;
  padding: 5px;
  border-radius: 10px;
}

p{
    font-size: 14px;
}

header{
  border: 2px solid #5d5c61;
  margin: 5px;
  margin-bottom: 10px;
  padding: 5px;
  border-radius: 10px;
  background-color: #f7f9fb;
  text-align: left;
  height: 10%;
  overflow: hidden;
  vertical-align: middle;
}

footer{
  border: 2px solid #5d5c61;
  margin: 5px;
  padding: 5px;
  overflow: hidden;
  border-radius: 10px;
  background-color: #f7f9fb;
}

ul{
  list-style-type: none;
  text-align: center;
  width: 99%;
  padding: 0px;
}
li{
  float: left;
  width: 33%;
  border-left: solid;
}
.first{
  border-left: none;
}

li a{
  display: block;
}

ul#ulxx{
  list-style-type: none;
  display: inline-block;
  margin-top: 0;
  float: right;
  border-spacing: 0px 0px;
   vertical-align: middle;

}
ul#ulxx li{
  display: inline-block;

  border: none;
  width: 33%;

}

li b{
  list-style-type: none;
  display: inline-block;
  border: none;
  border-left: none;
  float: left;

}

#optionsH{
margin-top: 0;
margin-bottom: 0;
line-height: 4;
padding-top: 0;
  border-style: none;
  list-style-type: none;
  position: relative;
  text-align: center;
  width: 50%;
float: right;
  display: flex;
  padding-right: 0;

}
.firstA{
  line-height: 4;
  list-style-type: none;
  border-left: none;
  float: left;
  margin-left: 0px

}


#body{
  display: flex;
  flex-wrap: nowrap;
  background-color: #8fc1e3;
}

#leftBox{
  float: left;
  width: 34%;
  position: relative;
  background-color: #f7f9fb;
}

#rightBox{
  float: right;
  width: 66%;
  position: relative;
  background-color: #f7f9fb;
}
#firstName
{
    width:44%;
    font-size:14pt;
}

#lastName
{
    width:44%;
    font-size:14pt;
}

#email
{
    width:91%;
    font-size:14pt;
}

#address
{
    width:44%;
    font-size:14pt;
}

#phone
{
    width:44%;
    font-size:14pt;
}

#birthday
{
    width:91%;
    font-size:14pt;
}

#opinions{
  text-align: left;
}

hr {
    display: block;
    height: 10px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
    border-color: black;
}

.activity {
  float: left;
  width: 215px;
  height: 215px;
  border-radius: 50%;
  font-size: 20px;
  color: #fff;
  line-height: 200px;
  text-align: center;
  background: #8fc1e3;
}

.imgOpinion{
  display: block;
  width: 30%;
  padding: 5px;
  float: left;
  vertical-align: middle;
}
.noborder{
  border-width: 0px;
  overflow: hidden;
}

.popup {
    position: relative;
    display: inline-block;
}

.popup .actualpopup{
  visibility: hidden;
  width: 50%;
  background color: #000;
  color: #fff;
  text-align: center
  padding: 10px 0;
  position: absolute;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

.popup .display{
  visibility: visible;
}
h5{
  display: block;
  overflow: hidden;
}
